PORT="PUERTO_DE_LA_APP"
JWT_SECRET="PALABRA_SECRETA_PARA_EL_TOKEN"
SESSION_SECRET="PALABRA_SECRETA_PARA_LA_SESSION"

DB_SERVER="NOMBRE_DEL_HOTS"
DB_USER="USUARIO"
DB_PASSWORD="CONSTRASENA"
DB_DATABASE="NOMBRE_DE_LA_DB"
DB_PORT="PUERTO_DB"
